{% extends 'base.html' %} {% block content %}
<div>
  {% for task in tasks %}
  <p>
    Task: {{ task.name }} || Is completed - {{ task.is_completed }} || {% if
    task.is_completed %}
    <form method="post" action="{{ url_for('mark_task_incompleted', task_id=task.id) }}"
      ><input type="submit" value="Mark as Incompleted"></form
    >
    {% else %}
    <form method="post" action="{{ url_for('mark_task_completed', task_id=task.id) }}"
      ><input type="submit" value="Mark as Completed"></form
    >
    {% endif %}
  </p>
  {% endfor %}
</div>
<div>
  <h2>New Task Form</h2>
  <form method="post">
    <label for="name">Task Name</label>
    <input type="text" name="name" /><br />
    <input type="submit" value="Submit" />
  </form>
</div>
{% endblock %}
